*{

    box-sizing: border-box;
    outline: 0;

}

body {

    margin: 0;
    padding: 0;
    background-color: rgb(28, 96, 197);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;

}

.Caixa {

    background: #ffff;
    max-width: 640px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;

}

.btn {

    background-color: rgb(0, 0, 0);
    color: #ffff;
    border-radius: 12px;
    padding: 10px;


}

form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

form input {

    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5em;

}
